html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Your Order Acknowledgement Copy
    body 
        div 
            div(class="main")   
                img(src="./logo.jpg", alt="Logo")
            div(class="content")
                 p Your OTP for signup is #{otp}. Please use this during the signup process.

                br
                br
            div(class="footer") 
                p Warm Regards 
                p  Gariyasi Support
        
